body {
    background-color: rgb(19, 11, 2);
    color: azure;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: pink;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
}